# Virtual Environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
.eggs/
dist/
build/
develop-eggs/
staticfiles/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDE/Editor specific
.idea/
.vscode/
*.swp
*.swo
*~

# Environment variables
.env
.env.local

# System files
.DS_Store
Thumbs.db

# Coverage/Test
.coverage
htmlcov/
.pytest_cache/
.tox/
coverage.xml
*.cover

# Node
node_modules/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.devcontainer/devcontainer.json

apps/waveform/migrations/*